.fab {
  background: rgb(0, 255, 191);
  border-radius: 10rem;
  position: fixed;
  display: none;
  @include respond(phone) {
    top: 94%;
    z-index: 10;
    left: 5px;
    display: grid;
    width: 3rem;
    height: 3rem;
    svg,
    img {
      width: 1.5rem;
      height: 1.5rem;
      align-self: center;
      justify-self: center;
    }
    a {
      align-self: center;
      justify-self: center;
    }
  }
}

#fab--link {
  text-decoration: none;
}
