.footer {
  grid-column: 2;
  grid-row: 3;
  height: 8vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 1.2rem;
  margin: 3rem 0;
  @include respond(phone) {
    margin: 1.5rem 0;
    height: 3vh;
  }
  &--date {
    grid-column: 2 / 5;
    justify-self: center;
    align-self: end;
    grid-row: 1;
  }
}
