.footer {
  grid-row: 4;
  grid-column: 1;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  z-index: 10;
  justify-items: center;

  h1 {
    grid-column: 1;
    justify-self: center;
    align-self: center;
  }
}