.header {
  grid-column: 1;
  grid-row: 1;
  background: transparent;
  display: grid;
  grid-template-columns: 60vw 40vw;
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 25;

  @include respond(phoneTab) {
    grid-column: 20vw 80vw;
  }

  h1 {
    grid-column: 1;
    font-size: 3rem;
    text-align: left;
    align-self: center;
    padding: 0 4rem;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: 0 0 2rem 3rem;

    @include respond(phone) {
      display: none;
    }

    @include respond(phoneWide) {
      display: none;
    }

    @include respond(phoneTab) {
      margin: 0;
      padding: 0 0 0 3rem;
    }

    span {
      color: yellow;
      padding: 0 0 0 4px;

    }
  }

  &--button {

    &__open {
      @include headerButton;
      align-self: start;
      width: 100vw;
      height: 3rem;

      @include respond(phoneWide) {
        top: 0;
        margin: 0;
        padding: 0;
      }
    }

    &__close {
      @include headerButton;
      width: 100vw;
      align-self: end;
      padding: 3px;

      @include respond(phoneWide) {
        top: 4.5rem;
        margin: 0;
        padding: 0;
      }

      @include respond(phone) {
        top: 9rem;
        margin: 0;
        padding: 0;
      }

      @include respond(phoneTab) {
        top: 5.5rem;
      }

      @include respond(tabPort) {
        top: 7rem;
      }
    }
  }

  &__container {
    width: 100vw;
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 1fr;
    z-index: 2;

    @include respond(phone) {
      grid-template-columns: 1fr;
    }

    @include respond(phoneWide) {
      grid-template-columns: 1fr;
    }

    @include respond(phoneTab) {
      grid-template-columns: 20vw 80vw;
    }
  }

  &__hidden {
    display: none;
  }
}