.header {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  grid-template-columns: 20vw auto 1fr 20vw;
  position: sticky;
  top: 0;
  height: 10vh;
  a {
    color: cornflowerblue;
  }
  h1 {
    color: cornflowerblue;
    align-self: center;
    grid-column: 2;
    padding: 1.5rem 0;
    a {
      text-decoration: none;
      border-bottom: none;
    }
  }
  &--nav {
    display: grid;
    grid-column: 3;
    grid-template-columns: repeat(6, 1fr);
  }
}

.scroll {
  background: #202020;
  height: 8.5vh;
  transition: background-color 200ms ease-in;
  transition: height 200ms ease-in;
}

.nav {
  transition: background-color 200ms ease-in;
  transition: height 200ms ease-in;
  &--blog,
  &--portfolio,
  &--contact {
    font-size: 2rem;
    justify-self: right;
    a {
      display: block;
      text-decoration: none;
    }
  }
  &--blog {
    grid-column: 2;
    @include nav-defaults;
  }
  &--portfolio {
    grid-column: 3;
    @include nav-defaults;
  }
  &--contact {
    grid-column: 4;
    @include nav-defaults;
  }
  &--coffee {
    grid-column: 5;
    margin: 0 0 3px 0;
    justify-self: center;
    font-size: 3rem;
    @include nav-defaults;
    img {
      display: block;
      width: 3.5rem;
      height: 2.5rem;
    }
  }
  &--mode {
    grid-column: 6;
    justify-self: left;
    @include nav-defaults;
  }
}

[aria-current="page"] {
  border-bottom: 2px solid cornflowerblue;
}
