.light-mode {
  transition: background-color 0.3s ease-in;
  background-color: #e8e8e8;
  color: #2d2d2d;
  button {
    @include mode-buttons;
  }
}
.dark-mode {
  color: #e8e8e8;
  background-color: #2d2d2d;
  transition: background-color 0.3s ease-in;
  button {
    @include mode-buttons;
  }
}
