.header__container--nav {
  grid-column: 2;
  grid-row: 1;
  border-bottom-right-radius: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 0 0 2rem 0;

  @include respond(phoneWide) {
    grid-column: 1;
  }

  @include respond(phone) {
    grid-column: 1;
  }

  ul {
    grid-column: 1;
    grid-row: 1;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.8rem;
    margin: 0 3rem 0 0;

    @include respond(phoneWide) {
      width: 90%;
      justify-self: center;
      margin: 1.5rem 0 0 0;
    }

    @include respond(phone) {
      justify-self: center;
      margin: 0;
    }

    @include respond(phoneTab) {
      margin: 1.5rem 0 0 0;
      grid-column: 1 / -1;
      justify-self: center;
    }

    @include respond(tabPort) {
      margin: 1.5rem 0 0 3rem;
    }

    a {
      color: #222;
      transition: all .3s ease-in-out;
      display: inline-block;

      &:hover {
        color: darkorchid;
        transition: all .3s ease-in-out;
        padding: 0;
        margin: 0;
      }
    }

    li {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      background: yellow;
      font-weight: 700;
      letter-spacing: 0.01em;
      line-height: 1em;
      clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
      padding: 7.5px 5px;

      @include respond(phoneWide) {
        margin: 0;
        padding: 5px 0;
      }

      @include respond(phone) {
        padding: 1rem 1rem;
        letter-spacing: 0;
        line-height: .5em;
        margin: 3rem 0 0 0;
        width: 100%;
      }

      @include respond(phoneTab) {
        padding: 1rem 3rem;
      }

      @include respond(tabPort) {
        padding: 1rem 3rem;
      }

      &::before {
        border-bottom: 1em solid transparent;
        border-left: 0.667em solid yellow;
        border-top: 1em solid transparent;
        bottom: 0;
        content: '';
        height: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;

        @include respond(phone) {
          border-bottom: .5em solid transparent;
          border-top: .5em solid transparent;
        }
      }

      &::after {
        border-bottom: 1em solid transparent;
        border-left: 0.667em solid;
        border-top: 1em solid transparent;
        bottom: 0;
        content: '';
        height: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(0.667em);
        width: 0;
      }
    }
  }
}