.header__container--nav {
  grid-column: 2;
  grid-row: 1;
  border-bottom-right-radius: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  a {
    color: white;
    transition: all .3s ease-in-out;
    display: inline-block;

    &:hover {
      color: yellow;
      transform: scale(1.2);
      transition: all .3s ease-in-out;
      padding: 0 0 3px 0;
    }
  }

  ul {
    grid-column: 1;
    grid-row: 1;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 1.8rem;
    padding: 0 3rem;
    margin-right: 3rem;
  }
}