@mixin mode-buttons {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  img {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
  }
}

@mixin nav-defaults {
  grid-row: 1;
  padding: 1.5rem 0;
  align-self: center;
}

@mixin page-defaults {
  grid-column: 2;
  grid-row: 2;
  margin-top: 10rem;
  min-height: 100vh;
}
