.about {
  @include page-defaults;
  display: grid;
  grid-template-rows: 5rem;
  grid-template-columns: 1fr 1fr;

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
  &--image {
    display: block;
    width: 95%;
    grid-column: 1 / -1;
    justify-self: left;
    align-self: start;
    padding: 1.5rem 0;
    @include respond(phone) {
      grid-row: 3;
      width: 100%;
      grid-column: 1;
    }
    img,
    a {
      display: block;
      height: auto;
      width: 100%;
    }
  }
  &--hg {
    grid-row: 1;
    justify-self: left;
    grid-column: 1 / -1;
    @include respond(tabLand) {
      padding: 1.5rem 0;
    }
    @include respond(phone) {
      grid-column: 1;
      padding: 1.5rem 1.5rem 6rem 1.5rem;
    }
    h1 {
      font-size: 2.3rem;
      @include respond(tabLand) {
        font-size: 2.5rem;
      }
      @include respond(phone) {
        font-size: 2rem;
      }
    }
    h3 {
      font-size: 1.6rem;
      @include respond(tabLand) {
        font-size: 2rem;
      }
      @include respond(phone) {
        font-size: 1.6rem;
        padding: 1rem 0;
      }
    }
  }
  &--main {
    word-wrap: break-word;
    padding: 1.5rem 4.5rem 1.5rem 0;
    font-size: 1.6rem;
    grid-column: 1 / -1;
    @include respond(tabLand) {
      grid-row: 2;
      grid-column: 1 / 3;
      p {
        margin: 1.5rem 0 0 0;
        padding: 1.5rem 3rem 1.5rem 0;
      }
    }
    @include respond(phone) {
      grid-row: 2;
      grid-column: 1;
      padding: 0;
      margin: 7.5rem 0 0 0;
      p {
        padding: 1.5rem;
        justify-self: center;
      }
    }
  }
  &--contact {
    grid-column: 1 / -1;
    @include respond(phone) {
      grid-row: 5;
      grid-column: 1;
      ul {
        padding: 0 3rem;
      }
    }
    h1 {
      padding: 1.5rem 0;
      font-size: 2.3rem;
      @include respond(phone) {
        padding: 5px 3rem;
        font-size: 2rem;
      }
    }
  }
  &--resume {
    margin: 1.5rem 0;
    @include respond(phone) {
      grid-row: 6;
      margin: 0;
    }
    h1 {
      padding: 3rem 0 0 0;
      font-size: 2.3rem;
      @include respond(phone) {
        padding: 1.5rem;
        font-size: 2rem;
      }
    }
  }
  &--bottom {
    grid-column: 1 / -1;
    font-size: 1.6rem;
    @include respond(phone) {
      grid-row: 4;
      grid-column: 1;
    }
    h1 {
      padding: 3rem 0;
      @include respond(phone) {
        padding: 1rem 2.5rem;
        font-size: 2rem;
      }
    }
    ul {
      padding: 1rem 0 3rem 0;
      columns: 3;
      @include respond(phone) {
        columns: 1;
        padding: 1.5rem 3rem;
      }
    }
  }
  button {
    background: cornflowerblue;
    color: white;
    text-shadow: 1px 1px black;
    width: 50rem;
    font-size: 1.6rem;
    padding: 1.5rem 0;
    z-index: 1;
    position: relative;
    margin: 3rem 0;
    @include respond(tabLand) {
      width: 80vw;
    }
    @include respond(phone) {
      margin: 0;
      padding: 1.5rem 3rem;
      width: 100%;
    }
  }
}

.about--download::after {
  transition: transform 200ms ease-in;
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(purple, 0.5);
  transform-origin: right;
  transform: scaleX(0);
}

.about--download:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
