.about {
  grid-column: 1;
  grid-row: 1 / -1;
  height: 100vh;
  max-height: 100vh;
  z-index: 20;
  display: grid;
  grid-template-columns: 3vw 1fr 1fr;
  grid-template-rows: 10vh 15vh 5vh repeat(4, 1fr);
  color: #b3b9c5;
  background: #222222;

  &__resources {
    height: 100%;
    grid-row: 3 / -1;
    grid-column: 3;
    justify-self: center;
    align-self: start;
    color: #b3b9c5;
    background: #2d2d2d;
    width: 69.84rem;
    font-size: 1.6rem;

    ul {
      line-height: 0.75;
    }

    a {
      margin: 1rem 1.5rem 1rem 6rem;
      color: yellow;
      display: inline-block;
      transition: all .3s ease-in-out;

      &:hover {
        transition: all .3s ease-in-out;
        color: darkorchid;
      }
    }

    h1 {
      justify-self: left;
      padding: 6rem 0 1.5rem 6rem;
      font-size: 3.2rem;
    }
  }

  &--top {
    grid-column: 1;
    grid-row: 2 / 4;
    width: 100vw;
    background: url("https://cdn.pixabay.com/photo/2016/06/02/02/38/mesh-1430108_1280.png") no-repeat center center / cover;
  }

  &--left {
    grid-row: 3 / -1;
    grid-column: 2;
    justify-self: center;
    align-self: start;
    background: #222;

    h1 {
      justify-self: left;
      padding: 6rem 0 1.5rem 6rem;
      font-size: 3.2rem;
    }

    p {
      grid-column: 1;
      word-wrap: break-word;
      hyphens: auto;
      font-size: 1.6rem;
      padding: 1rem 3rem 1rem 6rem;
    }
  }
}