.blog {
  @include page-defaults;
  &--date {
    padding: 1.5rem 0;
  }
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  margin: 3rem 0;
  &--title {
    align-self: center;
    display: inline-block;
    font-size: 2.3rem;
  }
  &--date {
    grid-column: 2;
    grid-row: 1;
    font-size: 1.6rem;
    padding: 1.5rem;
    align-self: center;
    justify-self: right;
  }
  &--excerpt {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    align-self: center;
    font-size: 1.7rem;
    padding: 1.5rem 0;
  }
}
