.blogs {
  grid-column: 1;
  grid-row: 1;
  z-index: 20;
  display: grid;
  min-height: 100vh;
  height: 150vh;
  max-height: 300vh;
  grid-template-columns: 3vw 1fr 2fr 1fr;
  grid-template-rows: 10vh 15vh 5vh repeat(4, 1fr);
  background: #222;
  color: white;

  &--content__left {
    grid-column: 2;
    grid-row: 3 / -1;
    z-index: 20;
    color: #b3b9c5;
    background: #2d2d2d;
  }

  &--content__top {
    background: url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_1280.png") no-repeat center center / cover;
    grid-row: 2;
    grid-column: 1 / -1;
    height: 25vh;
  }

  &--content__back {
    grid-column: 2 / -1;
    grid-row: 2;
    justify-self: right;
    align-self: center;
    display: block;
    font-size: 2rem;
    padding: 0 3rem 3rem 0;
    margin: 0 3rem 0 0;

    a {
      display: block;
      color: yellow;
      font-size: 2rem;
    }
  }

  &--content__main {
    grid-column: 3 / 5;
    // width: 100%;
    grid-row: 3 / -1;
    justify-self: center;
    align-self: start;
    z-index: 20;
    background: #222;

    p {
      display: block;
      justify-self: right;
      text-shadow: 2px 2px black;
      font-size: 1.8rem;
      margin: 3rem 0 0 0;
      padding: 3rem 6rem 0 6rem;
    }
  }

  &--content__maker {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-self: left;
    align-self: end;
    display: block;
    font-size: 2rem;
    padding: 0 0 3rem 4.5rem;
  }

  &--content__title {
    grid-column: 1 / 4;
    grid-row: 2;
    align-self: start;
    justify-self: left;
    margin: 1rem 0 0 4rem;
    font-size: 2rem;
    color: yellow;
  }
}

.previous {
  color: #b3b9c5;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  margin: 5rem 0 0 3rem;

  li {
    padding: 5px 1.5rem;
    border-bottom: .3px solid #b3b9c5;
    border-left: .3px solid #b3b9c5;
  }

  a {
    color: yellow;
    transition: all .3s ease-in-out;

    &:hover {
      transition: all .3s ease-in-out;
      color: darkorchid;
    }
  }
}