.blog {
  grid-column: 1;
  grid-row: 1 / -1;
  height: 100vh;
  z-index: 20;
  display: grid;
  grid-template-columns: 3vw 1fr 1fr;
  grid-template-rows: 10vh 15vh repeat(4, 1fr);
  color: #b3b9c5;
  background: #222222;

  @include respond(phone) {
    height: 120vh;
    grid-template-columns: 3vw 97vw;
    grid-template-rows: 10vh 15vh repeat(6, 1fr);
  }

  &--top {
    grid-row: 2 / 4;
    grid-column: 1 / -1;
    height: 25vh;
    width: 100vw;
    background: url("https://cdn.pixabay.com/photo/2016/06/02/02/31/background-1430103_1280.png") no-repeat center center / cover;
  }

  ul {
    width: 97vw;
    grid-column: 2 / -1;
    grid-row: 3;
    background: #222;
    align-self: end;

    @include respond(phone) {
      grid-column: 2;
    }

    // Date
    // div {
    //   display: block;
    //   float: right;

    //   @include respond(phone) {
    //     float: left;
    //   }
    // }

    h1 {
      padding: 1rem 0;

      @include respond(phone) {
        padding: 1rem 5px;
      }
    }

    h1,
    a {
      display: inline-block;
    }

    li {
      padding: 3rem 6rem;
      font-size: 1.8rem;
      width: 100%;

      @include respond(phone) {
        padding: 1rem 5px;
      }
    }
  }
}

.blog--list {
  display: grid;
  grid-template-columns: 1fr;

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  &__display {
    grid-column: 1 / -1;

    @include respond(phone) {
      grid-column: 1;
    }
  }

  &__title {
    padding: 0 1rem;
    color: yellow;
    transition: all .3s ease-in-out;

    @include respond(phone) {
      justify-self: left;
      font-size: 1.6rem;
      padding: 0;
      margin: 0;
    }

    &:hover {
      transition: all .3s ease-in-out;
      color: #9932cc;
    }
  }

  &__date {
    padding: 1.5rem 3rem;
    float: right;

    @include respond(phone) {
      padding: 0 5px;
      justify-self: left;
    }
  }

  &__excerpt {
    padding: 1rem 1rem;

    @include respond(phone) {
      padding: 0 5px;
    }

    a {
      color: #b3b9c5;
    }
  }
}