.home {
  grid-column: 2;
  grid-row: 2;
  height: 300vh;
}

.nav__scroll {
  display: block;
  height: 300vh;
  background: #000;
}

.nav {
  display: block;
  background: purple;
  height: 150vh;
}
