.home {
  grid-column: 1;
  grid-row: 1 / -1;
  height: 100vh;
  max-height: 100vh;
  z-index: 20;
  display: grid;
  grid-template-columns: 5vw 90vw 5vw;
  grid-template-rows: 10vh 20vh 1fr 1fr;
  background: #222;

  &--content__banner {
    grid-row: 2;
    grid-column: 1 / -1;
    height: 20vh;
    background: url("https://images.pexels.com/photos/414276/pexels-photo-414276.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center / cover;
  }

  &--content__top {
    grid-column: 2;
    grid-row: 2;
    color: white;
    text-shadow: 2px 2px black;
    z-index: 30;
    background: #222;
    margin: 25rem 0 0 0;
    justify-self: center;

    a {
      color: yellow;
    }

    h1 {
      font-size: 3rem;
    }
  }

  &--content__bottom {
    grid-column: 2;
    grid-row: 4;
    // z-index: 20;
    font-size: 5rem;
    color: white;
    justify-self: center;
    align-self: end;
    columns: 4;

    a {
      color: yellow;
      display: block;
    }
  }
}