.portfolio {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  max-height: 200vh;
  z-index: 10;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh 100vh;
}