.portfolio {
  grid-column: 1;
  grid-row: 2;
  // min-height: 1725vh;
  background: #222222;
  height: 290vh;
  width: 100vw;
  z-index: 10;
  display: grid;
  grid-template-columns: 20vw 80vw;
  color: white;

  &__heading {
    display: block;
    position: fixed;
    top: 15rem;
    left: 0;
    grid-column: 1;
    // justify-self: left;
    font-size: 5rem;
    transform: rotate(90deg);
  }
}

.projects:nth-last-child(1) {
  margin-bottom: 5rem;
}

.projects {
  grid-column: 2;
  justify-self: right;
  padding: 0 3rem 0 0;
  display: grid;
  grid-template-columns: 60vw;

  hr {
    color: black;
    height: 1.3px;
  }

  &__heading {
    align-self: end;
  }

  &__technology {
    align-self: start;
    justify-self: right;
  }

  a {
    &:hover {
      transition: all .3s ease-in-out;
      color: darkorchid;
    }
  }

  a,
  span {
    color: yellow;
  }

  h1,
  a {
    font-size: 3rem;
    justify-self: right;
  }

  p {
    font-size: 1.9rem;
    padding: 0 3rem 0 3rem;
  }
}