.project {
  @include page-defaults;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5rem 5rem;
  &--back {
    grid-column: 1;
    grid-row: 2;
    // justify-self: right;
  }
  &--container {
    grid-column: 1 / -1;
    grid-row: 3;
    border: 0.5px solid red;
  }
  &--image {
    height: 100%;
  }
  &--technology {
    justify-self: right;
    align-self: center;
    grid-column: 2 / -1;
    grid-row: 1;
  }
  &--live {
    grid-column: 3;
    grid-row: 2;
    justify-self: right;
    align-self: center;
  }
  &--github {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    align-self: center;
  }
  &--title {
    justify-self: left;
    grid-column: 1;
    align-self: center;
    padding: 1.5rem 0;
    font-size: 2.1rem;
  }
  a {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.6rem;
    padding: 1.5rem 0;
  }
  &__long__description {
    grid-column: 1 / -1;
    &::first-letter {
      font-size: 140%;
    }
  }
}
