.project {
  @include page-defaults;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  &--container {
    grid-column: 1 / -1;
  }
  &--technology {
    align-self: center;
    grid-column: 2;
    grid-row: 1;
  }
  &--title {
    align-self: center;
    padding: 1.5rem 0;
    font-size: 2.1rem;
  }
  a {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.9rem;
    padding: 1.5rem 0;
  }
  &__long__description {
    grid-column: 1 / -1;
    &::first-letter {
      font-size: 140%;
    }
  }
}
