.project {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 28.5vw 1fr;
  width: 100vw;
  grid-template-rows: 10vh repeat(5, 1fr);
  max-height: 100vh;
  color: #b3b9c5;
  background: #222;

  @include respond(phoneWide) {
    height: 200vh;
    max-height: 200vh;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(5, 1fr);
  }

  @include respond(phone) {
    height: 150vh;
    max-height: 150vh;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh repeat(5, 1fr);
  }

  &--left {
    grid-column: 1;
    grid-row: 2 / 7;
    height: 57.3rem;
    background: #2d2d2d;

    @include respond(phoneWide) {
      // align-self: start;
      // height: 100%;
      grid-row: 2 / 7;
    }

    @include respond(phone) {
      grid-row: 2 / 5;
    }
  }

  a {
    color: yellow;
    transition: all .3s ease-in-out;

    &:hover {
      transition: all .3s ease-in-out;
      color: darkorchid;
    }
  }

  picture {
    grid-column: 2;
    grid-row: 3;
    height: 50rem;
    width: 100rem;
    justify-self: right;
    display: block;

    @include respond(phoneWide) {
      width: 100%;
      grid-column: 1;
      grid-row: -1;
      justify-self: center;
    }

    @include respond(phone) {
      width: 100%;
      grid-column: 1;
      grid-row: -1;
      justify-self: center;
    }
  }

  p {
    font-size: 1.8rem;
  }

  &--image {
    display: block;
    position: absolute;
    justify-self: right;
    align-self: start;
    margin: 0 3rem 0 0;

    @include respond(phoneWide) {
      justify-self: center;
      align-self: center;
      margin: 0;
      grid-row: -1;
    }

    @include respond(phone) {
      justify-self: center;
      align-self: center;
      margin: 0;
      grid-row: -1;
    }
  }

  &--title {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: left;
    font-size: 2.3rem;
    padding: 6rem 0 0 3rem;
    text-decoration: underline;
    z-index: 11;

    @include respond(phoneWide) {
      grid-row: 2;
      justify-self: left;
      padding: 1.5rem 0 0 3rem;
      font-size: 2rem;
    }

    @include respond(phone) {
      grid-row: 2;
      justify-self: center;
      padding: 3rem 0 0 0;
      font-size: 2rem;
    }
  }

  &--description {
    grid-column: 1;
    grid-row: 3;
    align-self: end;
    justify-self: left;
    padding: 0 6rem 0 3rem;
    font-size: 1.8rem;

    @include respond(phoneWide) {
      grid-row: 3;
      padding: 0 3rem;
      justify-self: center;
    }

    @include respond(phone) {
      grid-row: 3;
      padding: 0 1.5rem;
      hyphens: auto;
      justify-self: center;
    }
  }

  &--technology {
    grid-column: 1;
    grid-row: 4;
    align-self: end;
    justify-self: left;
    padding: 0 3rem 0 3rem;

    @include respond(phoneWide) {
      grid-row: 4;
      padding: 0;
      align-self: center;
      justify-self: center;
    }

    @include respond(phone) {
      grid-row: 4;
      padding: 0;
      align-self: center;
      justify-self: center;
    }

    span {
      color: yellow;
    }
  }

  &--live {
    grid-column: 1;
    grid-row: 5;
    align-self: end;
    justify-self: left;
    padding: 0 0 0 3rem;

    @include respond(phoneWide) {
      grid-row: 5;
      justify-self: right;
      align-self: center;
      padding: 0 3rem 0 0;
    }

    @include respond(phone) {
      grid-row: 5;
      justify-self: center;
      align-self: start;
      padding: 0;
    }
  }

  &--github {
    grid-column: 1;
    grid-row: 5;
    align-self: center;
    justify-self: left;
    padding: 3rem 0 0 3rem;

    @include respond(phoneWide) {
      grid-row: 5;
      align-self: center;
      justify-self: left;
      padding: 0 0 0 3rem;
    }

    @include respond(phone) {
      grid-row: 5;
      align-self: end;
      justify-self: center;
      padding: 0 0 3rem 0;
    }
  }

  &--back {
    grid-column: 1;
    grid-row: 2;
    align-self: start;
    justify-self: left;
    padding: 3rem 0 0 3rem;
    z-index: 11;

    @include respond(phoneWide) {
      grid-row: 2;
      align-self: center;
      justify-self: right;
      padding: 1.5rem 3rem 0 0;
    }

    @include respond(phone) {
      grid-row: 2;
      align-self: center;
      justify-self: right;
      padding: 6rem 3rem 3rem 0;
      font-size: 1.6rem;

      span {
        display: none;
      }
    }

  }
}

.gatsby-image-wrapper {
  grid-column: 2;
  align-self: start;
  grid-row: 2 / -1;
  justify-self: right;
  display: flex;

  @include respond(phoneWide) {
    grid-column: 1;
    grid-row: -1;
    align-self: end;
    width: 100%;
    height: 35rem;
    margin-bottom: 2.5rem;
  }

  @include respond(phone) {
    grid-column: 1;
    grid-row: -1;
    align-self: end;
    justify-self: center;
    width: 90%;
    height: 30rem;
    margin-bottom: 2.5rem;
  }
}