.content {
  @include page-defaults;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7rem;
  &__back {
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
    align-self: center;
    font-size: 1.6rem;
  }
  &__title {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: center;
    h1 {
      font-size: 2.6rem;
    }
    h4 {
      font-size: 1.6rem;
    }
  }
  &__main {
    grid-column: 1 / -1;
    grid-row: 2;
    p {
      font-size: 1.6rem;
      padding: 1.5rem 0;
      margin: 1.5rem 0;
      hyphens: auto;
    }
  }
}
